# /etc/ipsec.conf - strongSwan IPsec configuration file

config setup
       cachecrls=yes
       # FIXME
       strictcrlpolicy=no
       #charondebug=all

ca strongswan  #define alternative CRL distribution point
       cacert=ca.crt
       #crluri=http://crl2.strongswan.org/strongswan.crl
       auto=add

conn %default
       keyingtries=1
       keyexchange=ikev2

conn roadwarrior
       # android Ipsec Xauth RSA
       keyexchange=ikev1
       ike=aes256-sha256-modp1024
       # Server Side
       left=%defaultroute
       leftsubnet=0.0.0.0/0
       leftcert=strongswan.crt
       leftauth=pubkey
       leftsendcert=always
       {% if strongswan_server_leftdns is defined %}leftdns={{ strongswan_server_leftdns }}{% endif %}
       # ipsec server ip or dns 
       # ( it must matches the strongswan.crt )
       leftid={{ strongswan_server_leftid }}
       leftfirewall=yes
       # Client side 
       # rsa
       rightauth=pubkey
       # Client <--- IKEv1/Xauth ---> Server <--- RADIUS/EAP ---> AAA
       rightauth2=xauth-eap
       rightsourceip=10.0.0.0/24
       # allow vpn private tunnel 
       eap_identity=%any
       type=tunnel
       auto=add

